# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build CI

on:
  push:

permissions:
  contents: read

jobs:
  build:
    name: Build (Node ${{ matrix.node.name }})
    strategy:
      fail-fast: false
      matrix:
        node:
          - version: lts/*
            name: LTS
          - version: lts/-1
            name: Previous LTS
          - version: current
            name: Current
    runs-on: ubuntu-latest
    steps:
      - name: Check out source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node.version }}
          cache: npm

      - name: Install dependencies and run tests
        run: npm cit
