# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build CI

on:
  push:

permissions:
  contents: read

jobs:
  build:
    name: Build (Node ${{ matrix.node.name }})
    strategy:
      fail-fast: false
      matrix:
        node:
          - version: lts/*
            name: LTS
          - version: lts/-1
            name: Previous LTS
          - version: current
            name: Current
    runs-on: ubuntu-latest
    steps:
      - name: Check out source
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

      - name: Set up Node.js environment
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{ matrix.node.version }}
          cache: npm

      - name: Install dependencies and run tests
        run: npm cit
