# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build and Test Sample Code

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node:
          - 'current'
          - 'lts/*'
          - 'lts/-1'
    name: Build and test (Node ${{ matrix.node }})
    steps:
      - name: Check out source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node.version }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Install dependencies (example)
        run: npm ci
        working-directory: example

      - name: Build
        run: npm run build && (cd example && npm run build)

      - name: Smoke test
        run: npx ts-node src/index.ts
        working-directory: example
